# PySpark 03 GroupBy and Aggregate Functions

**Summary**

### Setup

In [1]:
import os
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('GroupByPractice').getOrCreate()
spark

### Load

In [2]:
# read the dataset
ROOT = "C:\\Users\\PySpark\\"
FILE = "./employees.csv"
df = spark.read.csv(ROOT+FILE, header=True, inferSchema=True)
df

DataFrame[EMPLOYEE_ID: int, FIRST_NAME: string, LAST_NAME: string, EMAIL: string, PHONE_NUMBER: string, HIRE_DATE: string, JOB_ID: string, SALARY: int, COMMISSION_PCT: string, MANAGER_ID: string, DEPARTMENT_ID: int]

In [3]:
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [7]:
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

## 1. GroupBy

**Syntax**  

- `df.groupBy('col')`
  - `.min()`
  - `.max()`
  - `.avg()`
  - `.count()` ...

In [12]:
df.groupBy('DEPARTMENT_ID').sum().select('DEPARTMENT_ID', 'sum(SALARY)').show()

+-------------+-----------+
|DEPARTMENT_ID|sum(SALARY)|
+-------------+-----------+
|           20|      19000|
|           40|       6500|
|          100|      51608|
|           10|       4400|
|           50|      85600|
|           70|      10000|
|           90|      58000|
|           60|      28800|
|          110|      20308|
|           30|      24900|
+-------------+-----------+

In [18]:
df.groupBy('DEPARTMENT_ID').count().show()

+-------------+-----+
|DEPARTMENT_ID|count|
+-------------+-----+
|           20|    2|
|           40|    1|
|          100|    6|
|           10|    1|
|           50|   23|
|           70|    1|
|           90|    3|
|           60|    5|
|          110|    2|
|           30|    6|
+-------------+-----+

In [15]:
df.groupBy('DEPARTMENT_ID').mean().show()

+-------------+------------------+------------------+------------------+
|DEPARTMENT_ID|  avg(EMPLOYEE_ID)|       avg(SALARY)|avg(DEPARTMENT_ID)|
+-------------+------------------+------------------+------------------+
|           20|             201.5|            9500.0|              20.0|
|           40|             203.0|            6500.0|              40.0|
|          100|             110.5| 8601.333333333334|             100.0|
|           10|             200.0|            4400.0|              10.0|
|           50|135.95652173913044|3721.7391304347825|              50.0|
|           70|             204.0|           10000.0|              70.0|
|           90|             101.0|19333.333333333332|              90.0|
|           60|             105.0|            5760.0|              60.0|
|          110|             205.5|           10154.0|             110.0|
|           30|             116.5|            4150.0|              30.0|
+-------------+------------------+------------------+------------------+

In [19]:
df.agg({'SALARY':'sum'}).show()

+-----------+
|sum(SALARY)|
+-----------+
|     309116|
+-----------+

In [21]:
df.groupBy('DEPARTMENT_ID').max().show()

+-------------+----------------+-----------+------------------+
|DEPARTMENT_ID|max(EMPLOYEE_ID)|max(SALARY)|max(DEPARTMENT_ID)|
+-------------+----------------+-----------+------------------+
|           20|             202|      13000|                20|
|           40|             203|       6500|                40|
|          100|             113|      12008|               100|
|           10|             200|       4400|                10|
|           50|             199|       8200|                50|
|           70|             204|      10000|                70|
|           90|             102|      24000|                90|
|           60|             107|       9000|                60|
|          110|             206|      12008|               110|
|           30|             119|      11000|                30|
+-------------+----------------+-----------+------------------+

In [22]:
df.groupBy('DEPARTMENT_ID').min().show()

+-------------+----------------+-----------+------------------+
|DEPARTMENT_ID|min(EMPLOYEE_ID)|min(SALARY)|min(DEPARTMENT_ID)|
+-------------+----------------+-----------+------------------+
|           20|             201|       6000|                20|
|           40|             203|       6500|                40|
|          100|             108|       6900|               100|
|           10|             200|       4400|                10|
|           50|             120|       2100|                50|
|           70|             204|      10000|                70|
|           90|             100|      17000|                90|
|           60|             103|       4200|                60|
|          110|             205|       8300|               110|
|           30|             114|       2500|                30|
+-------------+----------------+-----------+------------------+

In [23]:
df.groupBy('DEPARTMENT_ID').avg().show()

+-------------+------------------+------------------+------------------+
|DEPARTMENT_ID|  avg(EMPLOYEE_ID)|       avg(SALARY)|avg(DEPARTMENT_ID)|
+-------------+------------------+------------------+------------------+
|           20|             201.5|            9500.0|              20.0|
|           40|             203.0|            6500.0|              40.0|
|          100|             110.5| 8601.333333333334|             100.0|
|           10|             200.0|            4400.0|              10.0|
|           50|135.95652173913044|3721.7391304347825|              50.0|
|           70|             204.0|           10000.0|              70.0|
|           90|             101.0|19333.333333333332|              90.0|
|           60|             105.0|            5760.0|              60.0|
|          110|             205.5|           10154.0|             110.0|
|           30|             116.5|            4150.0|              30.0|
+-------------+------------------+------------------+------------------+