# PySpark 02 Filter operation

**Summary** 
- Filter operation
- &, |, ==
- ~

### Setup

In [2]:
import os
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("filterOps").getOrCreate()
spark

### Load

In [22]:
# read the dataset
ROOT = "C:\\Users\\PySpark\\"
FILE = "./employees.csv"
df = spark.read.csv(ROOT+FILE, header=True, inferSchema=True)
df

DataFrame[EMPLOYEE_ID: int, FIRST_NAME: string, LAST_NAME: string, EMAIL: string, PHONE_NUMBER: string, HIRE_DATE: string, JOB_ID: string, SALARY: int, COMMISSION_PCT: string, MANAGER_ID: string, DEPARTMENT_ID: int]

In [23]:
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

## 1. Filter by condition

**Examples**

- Salary of people less than 20,000

**Syntax**  

- `df.filter('column <= 20000')`
- `df.filter('column condition').select('col1', 'col2', ...)`
- `df.filter(df['col'] <= value)`
- `df.filter( (cond1) & (cond2) & ... ).select('col1', 'col2', ...)`    >> `&`, `|`
- `df.filter( ~(cond1) | ~(cond2) | ... ).select('col1', 'col2', ...)`    >> `&`, `|`

In [34]:
# numerical value comparison 

df.filter('SALARY >= 20000').show()
df.filter('SALARY >= 20000').select('FIRST_NAME', 'JOB_ID', 'SALARY').show()

+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|SKING|515.123.4567|17-JUN-03|AD_PRES| 24000|            - |        - |           90|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+

+----------+-------+------+
|FIRST_NAME| JOB_ID|SALARY|
+----------+-------+------+
|    Steven|AD_PRES| 24000|
+----------+-------+------+

In [41]:
df.filter((df['SALARY'] >= 10000) & 
          (df['SALARY'] <= 20000)).select('FIRST_NAME', 'JOB_ID', 'SALARY').show()

+----------+------+------+
|FIRST_NAME|JOB_ID|SALARY|
+----------+------+------+
|   Michael|MK_MAN| 13000|
|   Hermann|PR_REP| 10000|
|   Shelley|AC_MGR| 12008|
|     Neena| AD_VP| 17000|
|       Lex| AD_VP| 17000|
|     Nancy|FI_MGR| 12008|
|       Den|PU_MAN| 11000|
+----------+------+------+

In [44]:
df.filter(~(df['SALARY'] >= 10000) | 
          ~(df['SALARY'] <= 20000)).select('FIRST_NAME', 'JOB_ID', 'SALARY').show()

+-----------+----------+------+
| FIRST_NAME|    JOB_ID|SALARY|
+-----------+----------+------+
|     Donald|  SH_CLERK|  2600|
|    Douglas|  SH_CLERK|  2600|
|   Jennifer|   AD_ASST|  4400|
|        Pat|    MK_REP|  6000|
|      Susan|    HR_REP|  6500|
|    William|AC_ACCOUNT|  8300|
|     Steven|   AD_PRES| 24000|
|  Alexander|   IT_PROG|  9000|
|      Bruce|   IT_PROG|  6000|
|      David|   IT_PROG|  4800|
|      Valli|   IT_PROG|  4800|
|      Diana|   IT_PROG|  4200|
|     Daniel|FI_ACCOUNT|  9000|
|       John|FI_ACCOUNT|  8200|
|     Ismael|FI_ACCOUNT|  7700|
|Jose Manuel|FI_ACCOUNT|  7800|
|       Luis|FI_ACCOUNT|  6900|
|  Alexander|  PU_CLERK|  3100|
|     Shelli|  PU_CLERK|  2900|
|      Sigal|  PU_CLERK|  2800|
+-----------+----------+------+
only showing top 20 rows